<header>
    <nav>
       <a href="javascript:void(0)" class="btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">Parallax</a>
                <ul>
                    <li><a href="parallax-js.html">Parallax JS</a></li>
                    <li><a href="parallax-css.html">Parallax CSS</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">Hovers</a>
                <ul>
                    <li><a href="hovers.html">Hovers</a></li>
                    <li><a href="hovers-custom.html">Hovers custom</a></li>
                    <li><a href="hovers-buttons.html">Hovers buttons</a></li>
                </ul>
            </li>
            <li><a href="loaders.html">Loaders</a></li>
            <li><a href="carcasses.html">Carcasses</a></li>

        </ul>
	</nav>
	
	<a class="logo" href="index.html"><i class="ai ai-lma">&nbsp;</i></a>
</header>