/* === BEGIN CARCASSEs === */
.carcasses {
    /*@include columns (3, 10px);
    padding: 10px !important;*/
    
    .balloon {
        @include borderRadius (15px);
        background: rgba($mediumvioletred, 0.4);
        margin-bottom: 10px;
        padding: 10px;
    }
    
    
    .item-carcass {
        padding: 15px;
    
        img {
            border: 1px solid rgba($black, 0.3);
            display: block;
            max-width: 100%;
            width: 100%;
        }
    }
}
/* === END CARCASSEs === */