$white: #fff;
$f1: #f1f1f1;
$gray: #ccc;
$grayDark: #333;
$black: #000;
$red: #ea0101;
$orangered: orangered;
$orange: orange;
$gold: gold;
$greenLight: #79A500;
$green: #608202;
$blueLight: #00ffde;
$blue: #01ab95;
$blueSea: #1ba9e4;
$blue2: #1638cc;
$hotpink: hotpink;
$deeppink: deeppink;
$mediumvioletred: mediumvioletred;
$purple: purple;